.card{
    border-radius: 15px;
    border-right: 1px solid var(--linha);
    background: var(--alternativo);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
    padding: 20px;
    max-width: 300px;
    width: 100%;
}
.title{
    text-align: center;
    color: #000000;
    margin-bottom: 15px;
}