.background{
    background-color:var(--fundo-3);
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding-right: 10%;
}


.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}